#scrollToTop {
    right: 80px;
    z-index: 500;
}

.clearfix {
    display: table;
    width: 100%;
    clear: both;
}

#app {
    padding-top: 50px;
   /* padding-bottom: 100px;*/
}

#footer6-1z {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.panel_form_login,
.panel_content {
    width: 100%;
    max-width: 350px;
    margin: 10px auto
}

.header_page_login {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin: 15px auto;
    margin-top: 40px
}

.form-group {
    position: relative
}

.string_error_field, .user_path_to_photo {
    font-size: 12px;
    position: absolute;
    right: 7px;
    top: 5px;
    color: #d31b1b;
}

.user_path_to_photo {
    color: #232323;
}

#form-create-movie #photo {
    display: none
}
.btn {
    margin-left: 0
}

.form_upload_photo {
    padding-top: 25px;
}

.form_upload_photo .string_error_field, .form_upload_photo .user_path_to_photo {
    right: auto;
    left: 12.5%;
    top: 5px;
}

.error_field {border: 1px solid #c41c1c;}

.form_upload_photo .user_path_to_photo {
    font-weight: bold;
}

#submit_form_create_film, .label_btn_upload_photo {
    width: 75%;
    max-width: 300px;
}

#result_cropped {
    display: block;
    border-radius: 3px;
    height: auto;
    box-shadow: 2px 4px 7px 0px #6760609e;
}

#modal_crop_img .modal-body {
    background: rgba(161, 158, 158, 0.7)
}

#change_result_cropped {
    display: none;
    margin: 5px 0;
    width: 75%;
    max-width: 300px;
}

.not_found_404, .link_to_main_404 {
    font-size: 32px;
    font-weight: 900;
    position: absolute;
    top: 60%;
    width: calc(100% - 40px);
    color: #333333;
    left: 20px;
    text-align: center;
}

.link_to_main_404 {
    top: calc(60% + 60px);
    font-size: 18px;
}

.title {
    font-size: 36px;
    padding: 0 20px;
}

#canvas {max-width: 100%; max-height: 85%;}

#app .alert {
    margin-top: 27px;
    /*display: flex;*/
    align-content: center;
}

#app .alert p {
    margin-bottom: 0;
    font-weight: bold;
}

/*
 MODAL
*/

.modal-backdrop {
    z-index: 50
}
.close_modal_mobile_menu {
    position: absolute;
    height: 50px;
    width: 50px;
    right: 0;
    z-index: 500;
}

#modal_mobile_menu * {
    outline: none
}

 #modal_mobile_menu {
    padding-right: 0 !important;
}

#modal_mobile_menu .nav-item {
    display: block;
}

#modal_mobile_menu .nav-link {
    font-size: 20px;
}

#modal_mobile_menu  .modal-dialog {
    /*max-width: 50%;*/
    min-width: 50%;
    height: auto;
    min-height: 50%;
    margin: 0 auto;
    float: right;
}

#modal_mobile_menu .dropdown-menu {
    background: transparent;
}

@media screen and (max-width: 450px) {
    #modal_mobile_menu  .modal-dialog {
        max-width: 100%;
    }
}

#modal_mobile_menu .navbar-nav {
    display: block;
}

#modal_mobile_menu .modal-content {
    border-radius: 0;
    border: none;
    height: 100%;
    background: #333333;
}

#modal_mobile_menu .modal-body {
    padding: 55px 30px 40px 30px;
}

#modal_mobile_menu .close {
    font-size: 36px;
    color: white;
}

#btn_modal_mobile_menu {
    position: absolute;
    right: 15px;
    top: calc(50% - 19px);
}

#btn_modal_mobile_menu button {
    outline: none;
    border: none;
    border-radius: 0;
    margin: 0;
    width: 40px;
    height: 36px;
    display: block;
    background-color: transparent !important;
    background: url('/letmeshare/assets/images/menu-button.png') no-repeat center/contain;
    box-shadow: none;
}

#btn_modal_mobile_menu button:focus {
    outline: none;
}

 .modal-open {
     padding-right: 0 !important;
 }
.modal-open .modal {
    background: #0000007d;
}
#modal_mobile_menu .modal-content {
    /*padding-bottom: 30px;*/
}

@media screen and (min-width: 768px) {
    #btn_modal_mobile_menu {display: none}
}
@media screen and (max-width: 768px) {
    #btn_modal_mobile_menu {display: block}
}

/**/
@media screen and (max-width: 800px) {
    #canvas {max-width: 90%; max-height: 85%;}
}



/* NEW STYLE */

.mbr-section-btn .btn {
    max-width: 90%;
    /*margin: 0 auto;*/
}

.btn_form_auth {
    width: 100%;
}

.mbr-gallery-item img {
    height: 175px;
    margin: 0 auto;
    display: block;
    width: auto !important;
}
/*

.text-content, .video-create-preview {
    display: inline-block;
}*/

.container-flex-custom {
    display: flex;
   /* align-items: center;*/
    justify-content: space-between;
}

.video-create-preview {
    width: 50%;
    padding: 25px;
    background: white;
    height: fit-content;
    margin-top: 10%;
}

.title-template-movie, .desc-template-movie {
    text-align: center;
}

.nav-tabs .nav-link:hover, .nav-tabs .nav-link:active {
    color: white !important;
}

.gdpr-block label {
    color: white;
}

#gdpr-header15-n {
    margin-right: 5px;
}

.link_download_video {
    box-sizing: border-box;
    font-style: normal;
    font-weight: 500;
    border-radius: 3px;
    border: 1px solid #767676;
    padding: 1rem 1.5rem;
    margin: 0.4rem .8rem !important;
    transition: all .3s;
    text-align: center;
    background: #47c720;
    color: white;
}
.link_download_video:hover {
    background: #2f8515;
    color: white;
}
.item-movie-slide.active:before {
    opacity: 0.6 !important;
}
nav.navbar {
    z-index: 1;
}
#tabs2-8 {
   padding-bottom: 30px;
}
#create-movie {
    padding-top: 30px;
}
.textVoice {
    display: none;
    border: 2px dashed black;
    border-radius: 15px;
    padding: 10px;
}

#chooseVoice, #chooseMusic, .form-group label {
    font-family: cursive;
}

.voice-text .textVoice:first-child {
    display: block;
}
.voice-text {
    margin-top: 15px;
    font-weight: 500;
}
#player_music {
    margin-bottom: 15px;
}

audio {
    max-width: 100% !important;
    width: 100%;
}

.input-colorpicker {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 15px;
    bottom: 20px;
    background: black;
    border: 1px solid grey;
    box-shadow: 1px 1px 2px 0px #535252;
    cursor: pointer;
}
.input-colorpicker:hover {
    box-shadow: 2px 2px 2px 0px #3d3c3c;
}

label[for="noVoiceFilm"], label[for="noMusicFilm"] {
    width: 100px;
    font-family: cursive;
}

#noMusicFilm, #noVoiceFilm {
    vertical-align: middle;

}

@media screen and (max-width: 993px) {
    .container-flex-custom {
        display: block;
    }

    .video-create-preview {
        margin-top: 30px;
        margin-bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .text-content {
        margin: 20px auto;
    }
}